{% extends 'layout.html' %}

{%  block title %} Connect {% endblock %}
{%block styles%} <link rel="stylesheet" type="text/css" href= "{{url_for('static', filename= 'css/connect_home_styles.css' ) }}"> {% endblock %}

{%block body %}

<h2 class="heading">CONNECT WITH YOUR FELLOW FARMERS!</h2>
<div class="content">
<form method="post" class="buttons">
    <h3>Enter The Chat Room</h3>   
    <div>
      <label>Name:</label>
      <input
        type="text"
        placeholder="Pick a name!"
        name="name"
        value="{{name}}"
      />
    </div>
    <div class="join">
      <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
      <button type="submit" name="join" class="button" >Join a Room</button>
    </div>
    <button type="submit" name="create" class="create-btn button "  >Create a Room</button>
    {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
    {% endif %}
  </form>
</div>

<div class="room_codes">

{% if room_codes %}
<p >THESE ARE ACTIVE CHATTING ROOMS:</p>
  {% for code in room_codes %}
     <span class="code_title"> ROOM CODE:</span> &nbsp; &nbsp;<span class="code">   {{ code }}</span> 
  {% endfor %}
{% endif %}
</div>


{% endblock %}
